body {
  color: rgb(23, 23, 22);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("../images/logged_out.png");
}

/* ___________________ Header and Footer _______________________ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: rgb(23, 23, 22);
  color: #fff;
}

header .logo img {
  margin-left: 40px;
  width: auto;
  height: 50px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
  border: solid 1px #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header nav ul li:hover {
  background-color: rgb(64, 171, 2);
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

header nav ul li a:hover {
  text-decoration: none;
}

footer {
  background-color: rgb(23, 23, 22);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* ___________________ Header and Footer _______________________ */

/* ___________________ Make_Template ____________________________ */
.body-form {
  margin-bottom: 100px;
}

.container-form {
  max-width: 600px;
  border: 1px solid #ccc;
  margin: 130px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.container-form input[type="text"],
.container-form select,
.container-form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  line-height: 1.5;
  color: rgb(23, 23, 22);
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container-form input[type="text"]:focus,
.container-form select:focus,
.container-form input[type="file"]:focus {
  color: rgb(23, 23, 22);
  border-color: rgb(64, 171, 2);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
}

/* Стили для кнопки */
.container-form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: rgb(64, 171, 2);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container-form button[type="submit"]:hover {
  background-color: rgb(56, 148, 3);
}
/* ___________________ Make_Template ____________________________ */

/* ___________________ Chose_Template ____________________________ */
.template-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px 0;
}

.search-form-wrapper {
  max-width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form-wrapper h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.search-form-wrapper p {
  font-size: 16px;
  margin-bottom: 25px;
}

.search-form-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.search-form-wrapper input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(64, 171, 2);
  border-radius: 0.25rem;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  color: rgb(23, 23, 22);
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-form-wrapper input[type="text"]:focus {
  color: rgb(23, 23, 22);
  border-color: rgb(64, 171, 2);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
}

.search-form-wrapper button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(64, 171, 2);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form-wrapper button:hover,
.search-form-wrapper button:focus {
  background-color: rgb(56, 148, 3);
}

.search-results-wrapper {
  max-width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-results-wrapper h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.search-results-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.search-results-wrapper li {
  margin-bottom: 10px;
}

.search-results-wrapper a {
  text-decoration: none;
  color: rgb(64, 171, 2);
  font-size: 16px;
}

.search-results-wrapper a:hover,
.search-results-wrapper a:focus {
  color: rgb(56, 148, 3);
}

#no-results {
  color: #dc3545;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #dc3545;
  border-radius: 5px;
  margin-top: 15px;
}

/* ___________________ Chose_Template ____________________________ */

/* ____________________ index ______________________________ */

.container-main-text {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-bottom: 100px;
}

.carousel-inner .carousel-item img {
  border-radius: 8px;
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.main_block {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#second-block {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

#second-block #get-document .btn {
  color: white;
  padding: 3% 2%;
  font-size: xx-large;
  border-radius: 8px;
  transition: background-color 0.3s;
  background-color: rgb(64, 171, 2);
  border: none;
  cursor: pointer;
}

#second-block #get-document .btn:hover {
  background-color: rgb(57, 151, 3);
}

#first-block {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
}

.main_block .mt-5 div {
  padding: 1% 5%;
  font-size: larger;
}

.container-main-text h1 {
  padding-top: 2%;
  font-size: xxx-large;
  text-align: center;
  margin-bottom: 40px;
}
/* _______________ index ________________________ */

/* ___________________load_templates________________________ */
.body_form_load_templates {
  margin-bottom: 100px;
}

.body_form_load_templates label{
  font-weight: 600;
}

.container_form_load_templates {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_form_load_templates h2 {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.accordion-item button {
  background-color: white;
  color: rgb(23, 23, 22);
  border: none;
  box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
}

.container_form_load_templates input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(64, 171, 2);
  border-radius: 0.25rem;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  color: rgb(23, 23, 22);
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container_form_load_templates input[type="text"]:focus {
  color: rgb(23, 23, 22);
  border-color: rgb(64, 171, 2);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
}

.container_form_load_templates input[type="submit"],
#upload-button {
  background-color: rgb(64, 171, 2);
  color: white;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.container_form_load_templates input[type="submit"]:hover,
#upload-button:hover {
  background-color: rgb(59, 155, 3);
}

.accordion-button {
  background-color: white;
  color: rgb(23, 23, 22);
  border: none;
  box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
}

.accordion-body a {
  color: rgb(64, 171, 2);
  background-color: #fff;
  padding: 15px;
  border: 1px solid rgb(64, 171, 2);
  border-radius: 5px;
  margin-top: 15px;
}


.accordion-body a:focus, .accordion-body a:hover {
  color: white;
  background-color: rgb(64, 171, 2);
}


/* ___________________load_templates________________________ */

/* __________________________ logged_out____________________ */
.logged_out_body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/logged_out.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 1500px;
}

.logged_out_body .content {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: x-large;
}

.logged_out_body a {
  color: rgb(64, 171, 2);
  text-decoration: none;
  transition: color 0.3s;
}

.logged_out_body a:hover {
  color: rgb(51, 133, 3);
}
/* __________________________ logged_out____________________ */

/* ______________________ autorisation ______________________ */
.modal-content {
  background-color: #f8f9fa;
}

.modal-header {
  background-color: rgb(23, 23, 22);
  color: #fff;
}

.modal-title {
  color: #fff;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(23, 23, 22);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: rgb(23, 23, 22);
  background-color: #fff;
  border-color: rgb(64, 171, 2);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
}

.btn-primary {
  color: #fff;
  background-color: rgb(64, 171, 2);
  border-color: rgb(64, 171, 2);
  border-radius: 3px;
  padding: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(64, 171, 2);
  border-color: rgb(64, 171, 2);
  border-radius: 3px;
  padding: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: rgb(23, 23, 22);
  color: #fff;
}
/* ______________________ autorisation ______________________ */

/* _______________password_reset_form_______________________ */
#password_reset_form {
  font-family: Arial, sans-serif;
  background-color: rgb(23, 23, 22);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/password.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

#password_reset_form .content {
  text-align: center;
  max-width: 800px;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#password_reset_form .content p {
  font-size: larger;
  margin: 5%;
}

#password_reset_form .content h1 {
  font-size: xxx-large;
  font-weight: 700;
}

#password_reset_form button {
  width: 100%;
  font-size: x-large;
  font-weight: 600;
  padding: 20px 30px;
  background-color: rgb(64, 171, 2);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#password_reset_form button:hover {
  background-color: rgb(62, 165, 2);
}
/* _______________password_reset_form_______________________ */


/* ______________________404.html______________________________ */
#error404 {
  font-family: Arial, sans-serif;
  background-color: rgb(140, 34, 34);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/404.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
  color: rgb(23, 23, 22);
}

.error-container {
  text-align: center;
  max-width: 800px;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
  color: rgb(138, 19, 17);
  font-size: xxx-large;
  font-weight: 700;
}

.error-container p {
  margin: 10%;
  font-size: larger;
}

.error-container button {
  width: 100%;
  padding: 20px 30px;
  background-color: rgb(64, 171, 2);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: x-large;
  font-weight: 600;
  border-radius: 10px;
}

.error-container button:hover {
  background-color: rgb(56, 148, 3);
}
/* ______________________404.html______________________________ */