/* 
rgb(138, 68, 33)
rgb(64, 171, 2) 
rgb(153, 153, 153)
rgb(23, 23, 22)
*/


body {
    margin: 0% 10%;
    background-color: #f8f9fa;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(23, 23, 22);
    color: #fff;
}

.logo img {
    width: 10px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: none;
}

footer {
    background-color: rgb(23, 23, 22);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}