{% extends "header.html" %}

{% block title %}
    <title>Выбор шаблона</title>
{% endblock %}

{% block content %}
    <div id="chose_template_content">
        <div class="content_chose_template">
            <form id="template-form" action="{% url 'search-template' %}" method="get">
                <input type="text" id="template-name" name="query" placeholder="Введите название шаблона">
                <button type="submit">Искать</button>
            </form>
        </div>
    </div>

    {% if templates %}
        <ul>
            {% for template in templates %}
             <li><a href="{% url 'load-participants' template.id %}">{{ template.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p id="no-results" style="display: none;">Шаблон с таким названием не найден.</p>
    {% endif %}
{% endblock %}

<!-- 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 -->