{% extends "header.html" %} 

{% block title %}
<title>Загрузка участников мероприятий</title>
{% endblock %} 

{% block content %} 

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<h1 style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
  Загрузка участников для шаблона {{template.name}}
</h1>

<!-- Выбор способа загрузки -->
<div class="body_form_load_templates">
  <div class="container_form_load_templates">
    <h2>Выберите способ загрузки данных:</h2>
    <div class="accordion" id="accordionExample">
      <!-- Загрузка файлом -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="fileUploadHeader">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#fileUploadCollapse"
            aria-expanded="true"
            aria-controls="fileUploadCollapse"
            style="
              background-color: white;
              color: rgb(23, 23, 22);
              border: none;
              box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
            "
          >
            Загрузка файлом
          </button>
        </h2>
        <div
          id="fileUploadCollapse"
          class="accordion-collapse collapse show"
          aria-labelledby="fileUploadHeader"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body" style="background-color: white;">
            <div class="text-center mb-3">
              {% load static %}
              <a
                href="{% static 'files/load_participants.csv' %}"
                download="Шаблон для загрузки многих участников.csv"
                style="text-decoration: none;"
                >Скачать шаблон</a
              >
            </div>
            <form
              id="load-participants-form"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="mb-3">
                <label for="{{ form.load_file.id_for_label }}" class="form-label"
                  style="display: block; margin-bottom: 5px;"
                  >Загрузите csv файл:</label
                >
                <input
                  class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload"
                  type="file"
                  id="{{ form.load_file.id_for_label }}"
                  name="load_file"
                  required
                  style="
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                  "
                />
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  id="upload-button"
                  name="submit_many"
                >
                  Загрузить участников
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Ручной ввод -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="manualInputHeader">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#manualInputCollapse"
            aria-expanded="false"
            aria-controls="manualInputCollapse"
            style="
            background-color: white;
            color: rgb(23, 23, 22);
            border: none;
            box-shadow: 0 0 0 0.2rem rgb(64, 171, 2);
          "
          >
            Ручной ввод
          </button>
        </h2>
        <div
          id="manualInputCollapse"
          class="accordion-collapse collapse"
          aria-labelledby="manualInputHeader"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body" style="background-color: white;">
            <form id="load-participant-form" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="{{ load_participant_form.fullname.id_for_label }}" class="form-label"
                  style="display: block; margin-bottom: 5px;"
                  >ФИО:</label
                >
                <input
                  type="text"
                  id="{{ load_participant_form.fullname.id_for_label }}"
                  name="fullname"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="{{ load_participant_form.organization_name.id_for_label }}" class="form-label"
                  style="display: block; margin-bottom: 5px;"
                  >Название организации (необязательно):</label
                >
                <input
                  type="text"
                  id="{{ load_participant_form.organization_name.id_for_label }}"
                  name="organization_name"
                />
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  id="upload-button"
                  name="submit_one"
                >
                  Загрузить участника
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
