{% extends "header.html" %}

{% block title %}
<title>Загрузка участников мероприятий</title>
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<h1>Загрузка участников для шаблона {{template.name}}</h1>

<!--Форма для загрузки файлом-->
{% load static %}
<a href="{% static 'files/load_participants.csv' %}" download="Шаблон для загрузки многих участников.csv">Скачать шаблон</a>

<form id="load-participants-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <label for="{{ form.load_file.id_for_label }}">Загрузите csv файл:</label>
  <input type="file" id="{{ form.load_file.id_for_label }}" name="load_file" required class="form-control mb-3">

  <button type="submit" id="upload-button" name="submit_many">Загрузить участников</button>
</form>

<!--Форма для ручной загрузки-->
<form id="load-participant-form" method="post">
  {% csrf_token %}

  <label for="{{ load_participant_form.fullname.id_for_label }}">ФИО:</label>
  {{ load_participant_form.fullname }}

  <label for="{{ load_participant_form.organization_name.id_for_label }}">Название организации (необязательно):</label>
  {{ load_participant_form.organization_name  }}

  <button type="submit" id="upload-button" name="submit_one">Загрузить участника</button>
</form>

<div class="body_form_load_templates">
  <div class="container_form_load_templates">
    <h2>Выберите способ загрузки данных:</h2>

    <div class="accordion" id="accordionExample">
      <!-- Загрузка файлом -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="fileUploadHeader">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#fileUploadCollapse"
            aria-expanded="true"
            aria-controls="fileUploadCollapse">
              Загрузка файлом
          </button>
        </h2>
        <div
          id="fileUploadCollapse"
          class="accordion-collapse collapse"
          aria-labelledby="fileUploadHeader"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="justify-content-center align-items-center">
              <!--Сюда форму для загрузки файлом вставить-->
            </div>
          </div>
        </div>
      </div>

      <!-- Ручной ввод -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="manualInputHeader">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#manualInputCollapse"
            aria-expanded="false"
            aria-controls="manualInputCollapse">
              Ручной ввод
          </button>
        </h2>
        <div
          id="manualInputCollapse"
          class="accordion-collapse collapse"
          aria-labelledby="manualInputHeader"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <!--Сюда форму для ручного ввода-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}