{% extends "header.html" %} 

{% block title %}
<title>Ресурсный учебно-методический центр ЧелГУ</title>
{% endblock %}

{% block content %}
<body>
  <div class="container-main-text">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://sun9-73.userapi.com/impg/-29thxPVFOwnoWe3VJgJP3Q0QwyDFxJNHb8qZQ/Tg16c82IwCE.jpg?size=2560x1707&quality=95&sign=8b6d1b8c6aeb11bb897d78b0ca7f8517&type=album"
            class="d-block w-100"
            alt="Slide 1"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://sun9-16.userapi.com/impg/qOPSTTVujY_Lvtn6hWr7p-JbaibzChA3DpdNQg/i7GTh7za5Y4.jpg?size=1600x900&quality=95&sign=e43b5bb382d61271b52b205017074d2b&type=album"
            class="d-block w-100"
            alt="Slide 2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://sun9-79.userapi.com/impg/2QsZtAxHM9YwzIPv8iSo07_j6iruWl3AFdP9Ug/DhcEiWRH9Oc.jpg?size=2560x1707&quality=95&sign=eb8e234fc1431af2f1dcfbff28bd4c66&type=album"
            class="d-block w-100"
            alt="Slide 3"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#carousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
    <h1 style="text-align: center">Ресурсный учебно-методический центр</h1>
    <div class="main_block">
      <div class="mt-5">
        <div id="first-block">
          <div>
            Челябинский государственный университет (ЧелГУ) занимается обучением
            лиц с инвалидностью с 1992 года. В ЧелГУ сложилась уникальная для
            России система доступности высшего образования для инвалидов и лиц с
            ограниченными возможностями здоровья. В ее основу положено
            инклюзивное обучение инвалидов и сопровождение учебы. Все это
            позволяет обучать инвалидов с различными видами и степенью
            физических нарушений. В ЧелГУ учатся студенты с нарушениями зрения
            (в том числе полностью слепые), слуха, с поражением
            опорно-двигательного аппарата и других органов и систем.
          </div>
          <div>
            В 2017 году на базе Челябинского государственного университета по
            решению Минобрнауки России создан Ресурсный учебно-методический
            центр по обучению инвалидов и лиц с ограниченными возможностями
            здоровья, территорией ответственности которого является Челябинская
            область, Свердловская область, Курганская область (приказ
            Минобрнауки России от 20.10.2017 №1021). В настоящее время сеть РУМЦ
            в России включает 21 вуз
          </div>
        </div>
        <div id="second-block">
          <div id="get-document">
            <button type="button" class="btn btn-primary">
              Получить документ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
